{% extends 'main.html'%} {% load static %} {% block styles %}<link
  rel="stylesheet"
  href="{% static 'generate.css' %}"
/>{% endblock %} {% block javascript%}
<script defer>
  var btn = document.getElementById("btn");
  var input = document.getElementById("input");
  function click() {
    if (input.value !== "") {
      btn.disabled = true;
    }
  }
</script>
{% endblock%} {% block content %}

<div class="dummy-nav"></div>
<section>
  <form method="post" enctype="multipart/form-data" action="/roadmap/">
    {% csrf_token %}
    <div class="text-input">
      <h2>
        I Want To Learn
        <input
          style="color: black"
          type="text"
          name="pathway"
          required
          id="input"
        />
      </h2>
    </div>
    <div class="checkboxes">
      <div class="form-check">
        <input
          style="color: black"
          class="form-check-input"
          type="checkbox"
          value="youtubego"
          name="youtube"
        />
        <label class="form-check-label" for="apple">Youtube</label>
      </div>
      <!-- <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="udemygo" name="udemy">
                    <label class="form-check-label" for="mango">Udemy</label>
                </div> -->
    </div>
    <button
      class="button-40"
      onclick="click()"
      id="btn"
      value="Start Learning"
      type="submit"
    >
      Start Learning
    </button>
  </form>
</section>

{% endblock %}
